<!-- index.html ch09www-->
{% extends 'base.html' %}

{% block title %} 分享日記 {% endblock %}




{% block content %}
<div class='container'>



{% if message %}
	<div class='alert alert-warning'>{{message}}</div>
{% endif %}

<form name='my form' action='/' method='GET'>
<!--	<label for='byear'>出生年：</label>
	<select name='byear'>
		{% for year in years %}
		<option value='{{year}}'> {{year}}</option>
		{% endfor %}
	</select><br>
-->
	現在的心情：<br>
	{% for m in moods %}
	<input type='radio' name='mood' value='{{m.status}}'>{{m.status}}
	{% endfor %}
	<br>
	心情留言板：<br>
	<textarea name='user_post' row=3 cols=70></textarea><br>
	<label for='user_id'>你的暱稱：</label>
	<input id='user_id' type='text' name='user_id'>
	<label for='user_pass'>張貼/刪除密碼：</label>
	<input id='user_pass' type='password' name='user_pass'><br>
	<input type='submit' value='張貼'>
	<input type='reset' value='清除重填'>
</form>

<div class='row'>
	<div class='col-md-12'>
		<div class='panel panel-default'>
			<div class='panel-heading' align=center>
				<h3>我的私人日記</h3>
			</div>
		</div>
	</div>
</div>

<div class='row'>
{% for p in posts %}
	<div class="col-sm-12 col-md-4">
		<div class='panel panel-primary'>
			<div class='panel-heading'>【{{p.nickname}}】覺得{{p.mood}}</div>
			<div class='panel-body'>{{ p.message | linebreaks }}</div>
			<div class='panel-footer' align='right'>
				<i><small>{{ p.pub_time }}</small></i>
				
				<button tyoe='button' onclick='go_delete({{p.id}})'><span class="glyphicon glyphicon-trash" >  </span></button>
			</div>
		</div>
	</div>
{% endfor %}
</div>

{% if username and usercolor %}
你的名字叫做：{{username}}，最愛{{usercolor}}色
{% endif %}

<script>

function go_delete(id){
	var user_pass = document.getElementById('user_pass').value;
	//window.alert(document.getElementById('user_pass').value);
	if (user_pass != ""){
		var usr = '/' + id + '/' + user_pass;

		window.location = usr;
	}
}
	
</script>

</div>

{% endblock %}

