<!-- login.html ch09www -->
{% extends 'base.html' %}

{% block title %} 登入分享日記 {% endblock %}




{% block content %}
<div class='container'>

{% if message %}
	<div class='alert alert-warning'>{{message}}</div>
{% endif %}

<div class='row'>

	<div class="col-md-12">
		<div class='panel panel-default' >
			

			<div class='panel-heading' align=center>
				<h3>登入我的私人日記</h3>
			</div>
			
		</div>
	</div>

</div>
<form action='.' method='POST'>
	{% csrf_token %}
		<table>
			{{ login_form.as_table }}
		</table>
	<input type='submit' value='登入'><br/>
</form>

</div>

{% endblock %}

