<!-- post.html -->
{% extends 'base.html' %}

{% block title %} {{ post.title }} - 文學天地 {% endblock %}

{% block headmessage %}
	<h3 style='font-family:微軟正黑體;'> {{ post.title }}</h3>
	<a style='font-family:微軟正黑體;' href='/'> 回首頁 </a>
{% endblock %}

{% block content %}
	<p style='font-family:微軟正黑體;'>我是內容</p>
{% endblock %}

