<!-- userinfo.html ch09www -->
{% extends 'base.html' %}

{% block title %} 分享日記 {% endblock %}




{% block content %}
<div class='container'>

{% if message %}
	<div class='alert alert-warning'>{{message}}</div>
{% endif %}

<div class='row'>

	<div class="col-md-12">
		<div class='panel panel-default' >
			

			<div class='panel-heading' align=center>
				<h3>使用者資訊</h3>
			</div>
			
		</div>
	</div>

</div>
<p>
	您的名字：{{ userinfo.name }}<br>
	電子郵件：{{ userinfo.email }}<br>
</p>

</div>

{% endblock %}

